<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8" />
	<meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>PRABHJOT KAUR</title>
	<link rel="stylesheet" type="text/css" href="css/reset.css">
	<link href="https://fonts.googleapis.com/css?family=Quicksand&display=swap" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="css/main.css">
</head>
<body>
	<h1 class="hidden">Home Page</h1>
	<div class="Container">
			<header id="mainHeader">
                <nav id="MainNav">
		          <h2 class="hidden">Main Navigation</h2>
		          <button id="button"></button>

		          <div id="NavCon">
		            <ul id="Menu">
		              <li><a href="home.html">Home</a></li>
		              <li><a href="work.html">Work</a></li>
		              <li><a href="contact.html">Contact</a></li>
		            </ul>
		          </div>
		        </nav>
					
				<div class="logo">
					<img src="images/LOGO.svg" alt="logo" id="prabhLogo">
				</div>

				<a href="index.html"><img src="Images/logo_icon.svg" alt="logo_icon" id="logoIcon">
				



				<div id="About">
					<h2 class="hidden">ABOUT</h2>
					<section class="aboutText">
						<div id="InfoAboutPrabh">
				          <h2>PRABHJOT KAUR</h2>
				          <h3>WEB DESIGNER AND DEVELOPER</h3>
				          <p>I'm 20 years old designer and developer belong to small town Dhuri which stated in Punjab, INDIA. I did Pre-media Designing from back home. Except the education field I love Music, Dance specially Bhangra(cultural dance of Punjab). 
						  </p></div>
						  <img class="moving" src="images/pic.jpg" alt="picjpg">
						</section>
				        

				        <div id="video">
				            <video muted autoplay controls>
				            	<source src="Images/Self_Promotional_Video.mp4" type="video/mp4">
				            </video>
					 	</div>

				        <div id="skills">
				        	<h2>SKILLS</h2>
				        	<div class="skills">
					        	<section class="programming">
						        	<h2>Programming</h2>
									<p>HTML<br>
										CSS<br>
										Javascript<br>
										PHP<br>
										MySql
									</p>
								</section>


								<section class="tools">
						        	<h2>Tools</h2>
									<p>Illustrator<br>
										Photoshop<br>
										Adobe XD<br>
										GitHub<br>
										Invision<br>
										Adobe after effects<br>
										Cinema 4D<br>
									</p>
								</section>

								<section class="intersets">
						        	<h2>Intersets</h2>
									<p>Web design<br>
										Branding<br>
										UX.UI<br>
										Graphic design<br>
										Motion design<br>
										Web development<br>
										Animation<br>
									</p>
								</section>
							</div>
						</div>

						<div id="hobbies">
							<h2>HOBBIES</h2>
							<div class="hobbies">
								<div id="photo">
									<img src="Images/photography.png" alt="photography" class="hobbyIcons">
									<h3>Photography</h3>
								</div>
								<div id="videogr">
									<img src="Images/videography.png" alt="videography" class="hobbyIcons">
									<h3>Videography</h3>
								</div>
							</div>
						</div>
			</div>

			<div class="work">
				<h2>WORK</h2>
				<section class="workCon1">
					<h2 class="hidden">WORK</h2>

					<section class="work1">
						<img src="Images/morph.svg" alt="morph" class="workImg">
						<div class="slide">
						<h2>MORPH PROJECT</h2>
						<p>This will be a series of informal, hands-on sessions that will result in a spinning or fly rod that you have assembled and finished yourself.
						</p>
					</div>
					</section>

					<section class="work2">
						<img src="Images/organ_project.svg" alt="organ" class="workImg">
						<div class="slide">
						<h2>MORPH PROJECT</h2>
						<p>This will be a series of informal, hands-on sessions that will result in a spinning or fly rod that you have assembled and finished yourself.
						</p>
					</div>
					</section>

				</section>

				<section class="workCon2">
					<section class="work3">
						<img src="Images/morph.svg" alt="morph" class="workImg">
						<div class="slide">
						<h2>MORPH PROJECT</h2>
						<p>This will be a series of informal, hands-on sessions that will result in a spinning or fly rod that you have assembled and finished yourself.
						</p>
					</div>
					</section>

					<section class="work4">
						<img src="Images/morph.svg" alt="morph" class="workImg">
						<div class="slide">
						<h2>MORPH PROJECT</h2>
						<p>This will be a series of informal, hands-on sessions that will result in a spinning or fly rod that you have assembled and finished yourself.
						</p>
					</div>
					</section>
				</section>

				<section class="workCon3">
					<section class="work5">
						<img src="Images/morph.svg" alt="morph" class="workImg">
						<div class="slide">
						<h2>MORPH PROJECT</h2>
						<p>This will be a series of informal, hands-on sessions that will result in a spinning or fly rod that you have assembled and finished yourself.
						</p>
					</div>
					</section>

					<section class="work6">
						<img src="Images/morph.svg" alt="morph" class="workImg">
						<div class="slide">
						<h2>MORPH PROJECT</h2>
						<p>This will be a series of informal, hands-on sessions that will result in a spinning or fly rod that you have assembled and finished yourself.
						</p>
					</div>
					</section>
				</section>
				
			</div>


			<div id="contact">
				<section id="contactForm" class="form-popup">
					<h2 class="hidden">Contact Form</h2>

					<form action="/action_page.php" class="form">
							<label for="fname">First Name</label><br>
							<input type="text" id="fname" name="firstname" placeholder="Your name.."><br>

							<label for="lname">Last Name</label><br>
							<input type="text" id="lname" name="lastname" placeholder="Your last name.."><br>

							<label for="message">Message</label><br>
							<textarea name="message" id="message" placeholder="Write your message here....."></textarea><br>

							<input type="submit" value="Submit" id="submit">
						</form>
				
				</section>
                <img src="images/Pic2.jpg">
            </div>

            <div>
            	<button onclick="backtotop()" id="topButton" title="back to top">
            		<img src="Images/back_to_top.svg" alt="backToTop" id="buttonImg">
				</button>
			</div>


	<script src="js/main.js"></script>
</body>
</html>