<h1 class="hidden">Home Page</h1>
	<div class="Container">
			{{!-- <header id="mainHeader">
                <nav id="MainNav">
		          <h2 class="hidden">Main Navigation</h2>
		          <button id="button"></button>

		          <div id="NavCon">
		            <ul id="Menu">
		              <li><a href="#About">Home</a></li>
		              <li><a href="#work">Work</a></li>
		              <li><a href="#contact">Contact</a></li>
		            </ul>
		          </div>
		        </nav>
					
				<div class="logo">
					<img src="public/images/LOGO.svg" alt="logo" id="prabhLogo">
				</div>
				</header>

				<a href="index.html"><img src="Images/logo_icon.svg" alt="logo_icon" id="logoIcon"></a> --}}
				



				<div id="About">
					<h2 class="hidden">ABOUT</h2>
					<section class="aboutText">
						<div id="InfoAboutPrabh">
				          <h2>PRABHJOT KAUR</h2>
				          <p>I'm 20 years old designer and developer belong to small town Dhuri which stated in Punjab, INDIA. I did Pre-media Designing from back home. Except the education field I love Music, Dance specially Bhangra(cultural dance of Punjab). 
						  </p>
						  <div id="InfoAboutPrabh2">
							 <h3>WEB DESIGNER AND DEVELOPER</h3>
							 <p>Design page layouts and templates. Collaborate with UX, marketing, engineering, and other teams.Work with front-end web developers to deploy designs.
							  Create and maintain a database of design assets. Creating website layout/user interfaces by using standard HTML/CSS practices. Ability to work and thrive in a fast-paced environment, learn rapidly and master diverse web technologies and techniques.
							</p>
						</div>
						</div>
						  <img class="moving" src="images/pic.svg" alt="picjpg">
					</section>
				        

				        <div id="video">
				            <video muted autoplay controls>
				            	<source src="video/Self_Promotional_Video.mp4" type="video/mp4">
				            </video>
							<a class="more open-lightbox" href="#">Read More</a>
					 	</div>

					 </div>


				        <div id="skills">
				        	<h2>SKILLS</h2>
				        	<div class="skills">
					        	<section class="programming">
						        	<h2>Programming</h2>
									<p>HTML<br>
										CSS<br>
										Javascript<br>
										PHP<br>
										MySql
									</p>
								</section>


								<section class="tools">
						        	<h2>Tools</h2>
									<p>Illustrator<br>
										Photoshop<br>
										Adobe XD<br>
										GitHub<br>
										Invision<br>
										Adobe after effects<br>
										Cinema 4D<br>
									</p>
								</section>

								<section class="intersets">
						        	<h2>Intersets</h2>
									<p>Web design<br>
										Branding<br>
										UX.UI<br>
										Graphic design<br>
										Motion design<br>
										Web development<br>
										Animation<br>
									</p>
								</section>
							</div>
						</div>

						<div id="hobbies">
							<h2>HOBBIES</h2>
							<div class="hobbies">
								<div id="photo">
									<img src="images/photography.png" alt="photography" class="hobbyIcons">
									<h3>Photography</h3>
								</div>
								<div id="videogr">
									<img src="images/videography.png" alt="videography" class="hobbyIcons">
									<h3>Videography</h3>
								</div>
							</div>
						</div>
			</div>

			<div class="work" id=work>
				<h2>WORK</h2>
				<section class="workCon1">
					<h2 class="hidden">WORK</h2>

					<section class="work1">
						<img src="images/morph.svg" alt="morph" class="workImg">
						<div class="slide">
						<h2>ANIMATION</h2>
						<p>This is a commercial video advertisement. The topic is A Laundry and Dry cleaning.It's name is RISE N' SHINE ; laundry and dry dry cleaning. Applicaitons used to make in Illustrator, Cinema 4D, After Effects and Photoshop.This is a Motion design Project.
						</p>
					</div>
					</section>

					<section class="work2">
						<img src="images/organ_project.svg" alt="organ" class="workImg">
						<div class="slide">
						<h2>ADVERTISMENT</h2>
						<p>This is a commercial magazine advertisement. The topic is Donation of organ.  It's name is DON DE COEUR. Applicaitons used to name in Illustrator, Photoshop Adobe InDesign.This is a Electronic Image Production.
						</p>
					</div>
					</section>

				</section>

				<section class="workCon2">
					<section class="work3">
						<img src="images/parent_logo.svg" alt="parentLogo" class="workImg">
						<div class="slide">
						<h2>BRANDING</h2>
						<p>This is a project of branding. The topic is Parent Logo. Logo belongs to my Mother Name. Applicaitons used to name in Illustrator and Photoshop.This is a Design Project which I done during my Studies.
						</p>
					</div>
					</section>

					<section class="work4">
						<img src="images/music_mixer.svg" alt="musicMixer" class="workImg">
						<div class="slide">
						<h2>AUTHORING</h2>
						<p>This is a combine project of design and authoring. The topic is Music mixer.  Applicaitons used to name in Sublime Text, Illustrator and Photoshop.This is a Design and Authoring project which I done during my Studies.
						</p>
					</div>
					</section>
				</section>

				<section class="workCon3">
					<section class="work5">
						<img src="images/infographic.svg" alt="Infographic" class="workImg">
						<div class="slide">
						<h2>GRAPHIC DESIGN</h2>
						<p>This is a Graphic design Project. The topic is Infographic Poster. It's name is Use of Social Media. This poster shows the use of social media by all ages in 2019. Applicaitons used to name in Illustrator and Photoshop.This is a Graphic Design project.
						</p>
					</div>
					</section>

					<section class="work6">
						<img src="images/mashup.svg" alt="mashup" class="workImg">
						<div class="slide">
						<h2>DESIGNING</h2>
						<p>This is a Graphic design Project. The topic is Label desiging. It's name is River Shell. This Is front Side Label of A wine bottle which is designed in Illustrator and Photoshop.This is a Graphic Design project.
						</p>
					</div>
					</section>
				</section>
				
			</div>


			<div id="contact">
				<section id="contactForm" class="form-popup">
					<h2 class="hidden">Contact Form</h2>
					<h2>Chat!</h2>

					<form action="/action_page.php" class="form">
							<label for="fname">First Name</label><br>
							<input type="text" id="fname" name="firstname" placeholder="Your name.."><br>

							<label for="lname">Last Name</label><br>
							<input type="text" id="lname" name="lastname" placeholder="Your last name.."><br>

							<label for="message">Message</label><br>
							<textarea name="message" id="message" placeholder="Write your message here....."></textarea><br>

							<input type="submit" value="Submit" id="submit">
						</form>
				
				</section>
                <img src="images/Pic2.jpg">
            </div>

         