<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8" />
	<meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>PRABHJOT KAUR</title>
	<link rel="stylesheet" type="text/css" href="css/reset.css">
	<link href="https://fonts.googleapis.com/css?family=Quicksand&display=swap" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="css/main.css">
	<link rel="favicon icon" type="image/png" href="Images/logo_icon.png">
</head>

    {{{body}}}

<footer class="footer">
				<div>
					<img src="Images/logo_icon.svg" alt="logo_icon" id="logoIconFooter">
					<div class="socialMedia">
						<a href="#"><img src="Images/facebook.svg"></a>
						<a href="#"><img src="Images/twitter.svg"></a>
						<a href="#"><img src="Images/instagram.svg"></a>
						<a href="#"><img src="Images/linkedin.svg"></a>
					</div>
					<p>© 2019 All Rights Reserved</p>
				</div>
				
			</footer>


	<script src="js/main.js"></script>

</html>