<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8" />
	<meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>PRABHJOT KAUR</title>
	<link rel="stylesheet" type="text/css" href="css/reset.css">
	<link href="https://fonts.googleapis.com/css?family=Quicksand&display=swap" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="css/main.css">
	<link rel="favicon icon" type="image/png" href="images/logo_icon.png">
</head>

<header id="mainHeader">
                <nav id="MainNav">
		          <h2 class="hidden">Main Navigation</h2>
		          <button id="button"></button>

		          <div id="NavCon">
		            <ul id="Menu">
		              <li><a href="/">Home</a></li>
		              <li><a href="/portfolio">Work</a></li>
		              <li><a href="#contact">Contact</a></li>
		            </ul>
		          </div>
		        </nav>
					
				<div class="logo">
					<img src="images/LOGO.svg" alt="logo" id="prabhLogo">
				</div>
		</header>

				<a href="#about"><img src="images/logo_icon.svg" alt="logo_icon" id="logoIcon"></a>

    {{{body}}}

<footer class="footer">
				<div>
					<a href="#mainHeader"><img src="images/logo_icon.svg" alt="logo_icon" id="logoIconFooter"></a>
					<div class="socialMedia">
						<a href="https://www.facebook.com/people/Jot-K-Bhatti/100041110668927"><img src="images/facebook.svg"></a>
						<a href="https://twitter.com/Prabhjo74686778"><img src="images/twitter.svg"></a>
						<a href="https://www.instagram.com/prabhjot_kaur_bhatti77/"><img src="images/instagram.svg"></a>
						<a href="https://www.linkedin.com/in/prabhjot-kaur-a587191a6/"><img src="images/linkedin.svg"></a>
					</div>
					<p>© 2019 All Rights Reserved</p>
				</div>
				
			</footer>


	<script src="js/main.js"></script>

</html>