
			<section class="workCon1">
                <div class="work">
				<h2>WORK</h2>

                {{#each data}}
                <div class="work1{{ID}}">
                    <h2>{{TITLE}}</h2>
                    <img src="images/{{IMAGES}}" alt="image">
                    <p>{{DESCRIPTION}}</p>
                </div>
                {{/each}}
            </div>
            </section>