

            <div class="work" id=work>
				<h2>WORK</h2>

                <h1 id="featuredProjects">Featured Projects</h1>
				<section id="caseStudy">
					
					<div id="caseStudy1">
						<section id="infoCS1">
							<h2>Brilliant English</h2>
							<p>A basic website based on English Academy.<br>
						This was created with Html and CSS. It's three page website. Pages are like Home, About And contact.It's begining of my IT career. Believe it's my first website. this was built with just, Html and CSS with basic code and tags. Software used Adobe Illutrator, Adobe Photoshop and Sublime.</p>
							<a href="https://github.com/Re-01/cunha_r_kaur_p_final_integrated">GitHub Link</a>
						</section>					
						<img src="images/Academy.svg" alt="brilliant-english" id="caseImg"><br>
						
					</div>

					<div id="caseStudy2">
						<img src="images/TRAA.svg" alt="TRAA" id="caseImg"><br>
						<section id="infoCS2">
							<h2>TRAA</h2>
							<p>This is exsiting website recreated. This was built by Html,CSS and Js. This is six page website. Pages are Home, About, Past Events, Projects, Links and Contact. There were some transition and animation practiced with Css3. Software used Adobe Illustrator, Photoshop, after effects and sublime.</p>	
							<a href="https://github.com/kaur12/kaur_kaur_singh_FIP">GitHub Link</a>
						</section>		
					</div>

				</section>

				<section class="workCon1">
					<h2 class="hidden">WORK</h2>

					<section class="work1">
						<img src="images/morph.svg" alt="morph" class="workImg">
						<div class="slide">
						<h2>ANIMATION</h2>
						<p>This is a commercial video advertisement. The topic is A Laundry and Dry cleaning.It's name is RISE N' SHINE ; laundry and dry dry cleaning. Applicaitons used to make in Illustrator, Cinema 4D, After Effects and Photoshop.This is a Motion design Project.
						</p>
					</div>
					</section>

					<section class="work2">
						<img src="images/organ_project.svg" alt="organ" class="workImg">
						<div class="slide">
						<h2>ADVERTISMENT</h2>
						<p>This is a commercial magazine advertisement. The topic is Donation of organ.  It's name is DON DE COEUR. Applicaitons used to name in Illustrator, Photoshop Adobe InDesign.This is a Electronic Image Production.
						</p>
					</div>
					</section>

				</section>

				<section class="workCon2">
					<section class="work3">
						<img src="images/parent_logo.svg" alt="parentLogo" class="workImg">
						<div class="slide">
						<h2>BRANDING</h2>
						<p>This is a project of branding. The topic is Parent Logo. Logo belongs to my Mother Name. Applicaitons used to name in Illustrator and Photoshop.This is a Design Project which I done during my Studies.
						</p>
					</div>
					</section>

					<section class="work4">
						<img src="images/music_mixer.svg" alt="musicMixer" class="workImg">
						<div class="slide">
						<h2>AUTHORING</h2>
						<p>This is a combine project of design and authoring. The topic is Music mixer.  Applicaitons used to name in Sublime Text, Illustrator and Photoshop.This is a Design and Authoring project which I done during my Studies.
						</p>
					</div>
					</section>
				</section>

				<section class="workCon3">
					<section class="work5">
						<img src="images/infographic.svg" alt="Infographic" class="workImg">
						<div class="slide">
						<h2>GRAPHIC DESIGN</h2>
						<p>This is a Graphic design Project. The topic is Infographic Poster. It's name is Use of Social Media. This poster shows the use of social media by all ages in 2019. Applicaitons used to name in Illustrator and Photoshop.This is a Graphic Design project.
						</p>
					</div>
					</section>

					<section class="work6">
						<img src="images/mashup.svg" alt="mashup" class="workImg">
						<div class="slide">
						<h2>DESIGNING</h2>
						<p>This is a Graphic design Project. The topic is Label desiging. It's name is River Shell. This Is front Side Label of A wine bottle which is designed in Illustrator and Photoshop.This is a Graphic Design project.
						</p>
					</div>
					</section>
				</section>

                <section class="workCon4">
					<section class="work7">
						<img src="images/chatApp.svg" alt="chaApp" class="workImg">
						<div class="slide">
						<h2>Multimedia</h2>
						<p>Prabhjot Kaur's Chat App created for chatting with other people. Build with HTML, CSS, Javascript, SASS Vue & Node.
						</p>
					</div>
					</section>

					<section class="work8">
						<img src="images/sports.svg" alt="sports" class="workImg">
						<div class="slide">
						<h2>Video Producion</h2>
						<p>this was assignment of video production.This is just one camera scene.Opening video was made from different angle of stadium. Video was made of a stadium of sccocer. 
						</p>
					</div>
					</section>
				</section>
				
			</div>